@import "tailwindcss";
@media (min-width: 850px) {
    body > * {
        display: none;
    }

    body {
        overflow: hidden;
    }

    body::before {
        content: "This app can only be visible on small screens.";
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        color: #ffffff;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        user-select: none;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
    }
}
